.admin {
  padding-top: 150px;
  background-image: url('../../assets/simpleBackground.jpg');
  position: relative;
  text-align: center;
  color: gray;
  /* padding-bottom: 185px; */
}

.admin-buttons {
  display: flex;
  justify-content: space-around;
}