*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root, html {
    font-size: 62.5%;
  }
  
  html, body {
    min-height: 100vh;
    height: max-content;
  }
