.singleViewCocktail {
  background-image: url('../../assets/simpleBackground.jpg');
  position: relative;
  padding-top: 120px;
  padding-bottom: 81px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-left: 45px;
  margin-right: 45px;
  padding-top: 40px;
}

.bottom-inner {
  display: grid
}