.searchByName {
  box-shadow: 0 0 10px white;
  color: white !important;
}

.btnSearchBy {
  box-shadow: 0 0 10px rgb(223, 142, 20);
  color: rgba(226, 214, 214, 0.945) !important;
  border-color: rgba(226, 214, 214, 0.945) !important;
  height: 56px;
}

#outlined-basic {
  color: white;
}

#outlined-basic-label {
  color: white;
}